.app-menu-list {
  .list__tile {
    padding: 0;
    height: 30px;
  }
  .list__tile__action {
    min-width: 40px;
  }
  .app-menu-group {
    padding-top: 20px;
    @media screen and (max-width: 960px) {
      padding-top: 8px;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

.video-carousel {
  .carousel__controls {
    height: 30px;
  }
}

.prayer-times {
  .input-group {
    z-index: 10;
    &__selections__comma, .icon, input {
      // color: #fff !important;
    }
    &__details:before {
      // background-color: #fff !important;
    }
  }
}

.carousel {
  .carousel__right .btn, .carousel__left .btn {
    color: $light-primary;
  }
}
@media screen and (max-width: 960px) {
  .carousel {
    height: 300px;
    .jumbotron__image {
      height: 100%;
      min-width: auto;
    }
  }
}

.navigation-drawer {
  padding: 0;
}

.pagination {
  .pagination__item--active {
    background-color: $light-info !important;
  }
}