<template lang="pug">
  v-card(flat @mouseover="mouseOverCard" @mouseout="mouseOutOfCard" :style="defaultStyles" :height="height").app-card
    div(v-if="title").app-title {{ title }}
    slot
    div.app-footer(v-if="footerTitle || footerIcon")
      router-link(:to="footerLink").app-footer-link
        div(v-if="footerTitle" :class="{ 'card-hovered': cardHovered }").app-footer-title {{ footerTitle }}
        v-icon(v-else :class="{ 'card-hovered': cardHovered }" @click="linkClicked").app-footer-icon {{ footerIcon }}
</template>

<script>
export default {
  props: {
    title: String,
    footerLink: String,
    footerTitle: String,
    footerIcon: String,
    styles: String,
    height: String
  },

  data () {
    let defaultStyles
    if (this.styles === undefined) {
      defaultStyles = 'padding-left: 20px; padding-right: 20px;'
      defaultStyles += 'padding-top: ' + (this.title ? 40 : 30) + 'px;'
      defaultStyles += 'padding-bottom: ' + (this.footerTitle || this.footerIcon ? 40 : 30) + 'px;'
    } else {
      defaultStyles = this.styles
    }

    return {
      cardHovered: false,
      defaultStyles: defaultStyles
    }
  },

  methods: {
    mouseOverCard () {
      this.cardHovered = true
    },
    mouseOutOfCard () {
      this.cardHovered = false
    },
    linkClicked () {
      this.$emit('link')
    }
  }
}
</script>


<style lang="scss" scoped>
$headerColor: $light-primary;
$footerColor: $light-info;

.app-card {
  border: 1px dashed $opaque-gray;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 0 100px 0px rgba($color: #000000, $alpha: .15),
              0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  transition: all 0.5s linear;

  &:hover {
    border-bottom-right-radius: 20px;
    box-shadow: inset 0 0 100px 0px rgba($color: #000000, $alpha: .15),
                0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 60%;
    top: -1px;
    left: -1px;
    background: $headerColor;
    transition: all 0.5s linear;
  }

  &::before {
    position: absolute;
    content: "";
    height: 30%;
    min-height: 50px;
    width: 2px;
    top: 1px;
    left: -1px;
    background: $headerColor;
    transition: all 0.5s linear;
    z-index: 1;
  }

  &:hover::after {
    width: calc(100% + 2px);
  }

  &:hover::before {
    height: 100%;
  }

  .app-title {
    position: absolute;
    top: 1px;
    left: 1px;
    background: $headerColor;
    color: #ffffff;
    display: inline-block;
    padding: 2px 17px 2px 15px;
    font-weight: 500;
    border-radius: 0 !important;
    border-bottom-right-radius: 10px !important;
  }

  .app-footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -1px;
    right: -1px;

    .app-footer- {
      &title, &icon {
        background: $footerColor;
        color: #ffffff;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.5s linear;
        &.card-hovered {
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      &title {
        padding: 2px 17px 2px 15px;
        font-weight: 500;
      }
      &icon {
        padding: 2px 5px;
      }
    }

    .app-footer-link {
      text-decoration: none;
    }
  }
}
</style>
