<template lang="pug">
  .app-footer
    v-container
      v-layout(wrap)
        v-flex.app-footer-partners.xs12.md4.offset-xl2.xl3
          .app-footer-partners__title Партнеры:
          div(v-for="i in partners" :key="i.title").pt-1
            a.app-footer-partners__item(:href="i.url") {{ i.title }}

        v-flex.app-footer-useful-links.sm12.md4.xl3
          .app-footer-useful-links__title Полезные ссылки:
          div(v-for="i in usefulLinks" :key="i.title").pt-1
            a.app-footer-useful-links__item(:href="i.url") {{ i.title }}

        v-flex.app-footer-copy-socials.xs12.md4.xl2
          .app-footer-copy-socials__copy &copy; {{ new Date().getFullYear() }} Muslim media — медийный портал
          app-socials

        v-flex.hidden-lg-and-down.xl2
</template>

<script>
import AppSocials from './AppSocials'

export default {
  components: {
    AppSocials
  },
  data () {
    return {
      partners: [],
      usefulLinks: []
    }
  },
  methods: {
    getData () {
      this.$http('partners/search/findByOrderByWeight').then(r => {
        r.data._embedded.partners.forEach(i => {
          this.partners.push(i)
        })
      })
      this.$http('usefulLinks/search/findByOrderByWeight').then(r => {
        r.data._embedded.usefulLinks.forEach(i => {
          this.usefulLinks.push(i)
        })
      })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.app-footer {
  background: #1c1c1c;
  color: $gray;

  &-partners, &-useful-links {
    @media screen and (max-width: 960px) {
      padding-bottom: 15px;
      text-align: center;
    }
    &__title {
      font-weight: 500;
    }
    &__item {
      text-decoration: none;
      color: $dark-gray;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      &:hover {
        color: $gray;
      }
    }
  }

  &-copy-socials {
    @media screen and (max-width: 960px) {
      text-align: center;
    }
    &__copy {
      font-weight: 500;
      padding-bottom: 5px;
    }
  }
}
</style>
