<template lang="pug">
  v-parallax(:height="$isMobile ? 120 : 237" :src="bgImage").app-header
    //- .app-header__basmalla
    //- .app-header__robbi-zidni-ilma
    router-link.app-header__logo(to="/")
    search-field(dark).app-header__search
    .app-header__bottom-bar.hidden-sm-and-down
      quotes.app-header__quotes
      app-socials.app-header__socials
</template>

<script>
import AppSocials from './AppSocials'
import Quotes from './Quotes'
import SearchField from './SearchField'

export default {
  components: {
    AppSocials,
    Quotes,
    SearchField
  },
  data () {
    return {
      bgImage: null
    }
  },
  created () {
    // this.bgImage = `/static/img/header-bg${this.$isMobile ? '-small' : ''}.jpg`
  }
}
</script>

<style lang="scss" scoped>
$headerMargins: 210px;
$headerMargins1680: 140px;
$headerMargins1366: 70px;
$headerMargins1280: 45px;

.app-header {
  &__basmalla {
    position: absolute;
    top: 30px;
    right: $headerMargins;
    width: 305px;
    height: 69px;
    background: url('../assets/bismillah.png') no-repeat;
    filter: opacity(.7);
    @media screen and (max-width: 1680px) {
      right: $headerMargins1680;
    }
    @media screen and (max-width: 1366px) {
      right: $headerMargins1366;
    }
    @media screen and (max-width: 1280px) {
      right: $headerMargins1280;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  &__robbi-zidni-ilma {
    position: absolute;
    top: 25px;
    right: $headerMargins + 340px;
    width: 80px;
    height: 147px;
    background: url('../assets/robbi-zidni-ilma.png') no-repeat;
    filter: opacity(.3);
    @media screen and (max-width: 1680px) {
      right: $headerMargins1680 + 340px;
      }
    @media screen and (max-width: 1366px) {
      right: $headerMargins1366 + 340px;
    }
    @media screen and (max-width: 1280px) {
      right: $headerMargins1280 + 340px;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  &__logo {
    position: absolute;
    top: 30px;
    left: $headerMargins;
    width: 131px;
    height: 146px;
    background: url('../assets/logo.png') no-repeat;
    @media screen and (max-width: 1680px) {
      left: $headerMargins1680;
    }
    @media screen and (max-width: 1366px) {
      left: $headerMargins1366;
    }
    @media screen and (max-width: 1280px) {
      left: $headerMargins1280;
    }
    @media screen and (max-width: 960px) {
      top: 0;
      left: 0;
      background-position: 50%;
      width: 100%;
      height: 100%;
    }
  }
  &__search {
    position: absolute;
    top: 110px;
    right: $headerMargins;
    width: 305px;
    color: #fff;
    @media screen and (max-width: 1680px) {
      right: $headerMargins1680;
    }
    @media screen and (max-width: 1366px) {
      right: $headerMargins1366;
    }
    @media screen and (max-width: 1280px) {
      right: $headerMargins1280;
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }
  &__bottom-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__quotes {
    margin-left: $headerMargins;
    @media screen and (max-width: 1680px) {
      margin-left: $headerMargins1680;
    }
    @media screen and (max-width: 1366px) {
      margin-left: $headerMargins1366;
    }
    @media screen and (max-width: 1280px) {
      margin-left: $headerMargins1280;
    }
  }
  &__socials {
    margin-right: $headerMargins;
    @media screen and (max-width: 1680px) {
      margin-right: $headerMargins1680;
    }
    @media screen and (max-width: 1366px) {
      margin-right: $headerMargins1366;
    }
    @media screen and (max-width: 1280px) {
      margin-right: $headerMargins1280;
    }
  }
}
</style>
