<template lang="pug">
  v-list.app-menu-list
    v-list-tile(to="/").app-menu-group
      v-list-tile-action
        v-icon(size="18px") home
      v-list-tile-content
        v-list-tile-title.app-menu-title ГЛАВНАЯ

    v-list-tile.app-menu-group
      v-list-tile-action
        v-icon(size="18px") mdi-teach
      v-list-tile-content
        v-list-tile-title.app-menu-title МЕДРЕСЕ
    v-list-tile(v-for="i in madrasaItems" :key="i.id" :to="'/madrasah/' + i.id").app-item
      v-list-tile-action
      v-list-tile-content
        v-list-tile-title {{ i.title }}

    v-list-tile.app-menu-group
      v-list-tile-action
        v-icon(size="18px") mdi-note-text
      v-list-tile-content
        v-list-tile-title.app-menu-title ТЕКСТЫ
    v-list-tile(v-for="i in textItems" :key="i.id" :to="'/posts/' + i.id").app-item
      v-list-tile-action
      v-list-tile-content
        v-list-tile-title {{ i.title }}

    v-list-tile.app-menu-group
      v-list-tile-action
        v-icon(size="18px") local_library
      v-list-tile-content
        v-list-tile-title.app-menu-title БИБЛИОТЕКА
    v-list-tile(v-for="i in libraryItems" :key="i.id" :to="'/library/' + i.id").app-item
      v-list-tile-action
      v-list-tile-content
        v-list-tile-title {{ i.title }}

    v-list-tile.app-menu-group(to="/events")
      v-list-tile-action
        v-icon(size="18px") mdi-calendar
      v-list-tile-content
        v-list-tile-title.app-menu-title СОБЫТИЯ

    v-list-tile.app-menu-group(to="/quotations")
      v-list-tile-action
        v-icon(size="18px") mdi-format-quote-close
      v-list-tile-content
        v-list-tile-title.app-menu-title ЦИТАТЫ
</template>

<script>
export default {
  data () {
    const madrasaItems = []
    this.$http('sections/search/findByType?type=MADRASA&sort=weight&projection=sectionWithId').then(r => {
      r.data._embedded.sections.forEach(s => {
        madrasaItems.push({ title: s.title, id: s.id })
      })
    })

    const textItems = []
    this.$http('sections/search/findByType?type=TEXTS&sort=weight&projection=sectionWithId').then(r => {
      r.data._embedded.sections.forEach(s => {
        textItems.push({ title: s.title, id: s.id })
      })
    })

    const libraryItems = []
    this.$http('sections/search/findByType?type=LIBRARY&sort=weight&projection=sectionWithId').then(r => {
      r.data._embedded.sections.forEach(s => {
        libraryItems.push({ title: s.title, id: s.id })
      })
    })

    return {
      madrasaItems: madrasaItems,
      textItems: textItems,
      libraryItems: libraryItems
    }
  }
}
</script>

<style lang="scss" scoped>
.app-menu-list {
  padding: 0;
  background: none !important;
}

.app-menu-title {
  font-weight: 500;
}
</style>
