<template lang="pug">
  .app-socials
    a(:href="youTubeLink" target="_blank")
      v-icon mdi-youtube-play
    a(:href="vkLink" target="_blank")
      v-icon mdi-vk
    a(:href="facebookLink" target="_blank")
      v-icon mdi-facebook
    a(:href="twitterLink" target="_blank")
      v-icon mdi-twitter
</template>

<script>
export default {
  data () {
    return {
      youTubeLink: null,
      vkLink: null,
      facebookLink: null,
      twitterLink: null
    }
  },
  methods: {
    getData () {
      this.$http('settings/search/findByType?type=YOUTUBE').then(r => {
        this.youTubeLink = r.data.value
      })
      this.$http('settings/search/findByType?type=VK').then(r => {
        this.vkLink = r.data.value
      })
      this.$http('settings/search/findByType?type=FACEBOOK').then(r => {
        this.facebookLink = r.data.value
      })
      this.$http('settings/search/findByType?type=TWITTER').then(r => {
        this.twitterLink = r.data.value
      })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.app-socials {
  a {
    text-decoration: none;
    padding-right: 15px;
    &:last-child {
      padding-right: 0;
    }
  }
  .icon {
    color: $dark-gray;
    cursor: pointer;
    &:hover {
      color: $gray;
    }
  }
}
</style>
