<template lang="pug">
  app-card(styles="padding: 0 0 5px" footerIcon="fullscreen" footerLink="" @link="fullScreen").video-card
    youtube(
      :video-id="data.videoId"
      player-width="100%"
      player-height="auto"
      :player-vars="{ showinfo: 0 }"
      @playing="playing"
    ).video-frame
    
    .video-title {{ data.title }}
    .video-teacher {{ data.teacher.name }}
    .video-statistics
      div {{ data.publishedOn }}
      div.d-flex
        v-icon(size="15px").pr-2 mdi-eye
        div {{ views }}
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },
  props: ['data'],
  data () {
    return {
      views: this.data.views,
      increasedViews: false
    }
  },

  methods: {
    playing (player) {
      this.increaseViews()
    },

    fullScreen () {
      this.increaseViews()
      window.open('https://youtube.com/watch?v=' + this.data.videoId)
    },

    increaseViews () {
      this.increasedViews || this.$http.patch('videos/increase-views', { uri: this.data._links.self.href }).then(r => {
        this.increasedViews = true
        this.views = r.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.video-{
  &card {
    display: flex;
    flex-direction: column;
  }
  &frame {
    position: relative;
    left: -1px;
    top: -1px;
    width: calc(100% + 3px);
    margin-bottom: 10px;
  }
  &title, &teacher, &statistics {
    padding: 0 10px 5px;
  }
  &title {
    font-weight: 500;
    margin-bottom: auto;
  }
  &statistics {
    display: flex;
    justify-content: space-between;
    width: 190px;
  }
}
</style>
