<template lang="pug">
  app-card(title="Календарь").calendar-card
    div(v-for="i in items").calendar-item
      div {{ i.date }}
      div.calendar-title  {{ i.title }}
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },

  data () {
    return {
      items: []
    }
  },

  methods: {
    getData () {
      this.$http('calendars/search/findByOrderByDate?projection=calendarSpelledMonth').then(r => {
        r.data._embedded.calendars.forEach(i => {
          this.items.push({ date: i.date, title: i.title })
        })
      })
    }
  },

  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.calendar-card {
  .calendar-item {
    display: flex;
    margin-top: 10px;
    font-weight: 500;

    :first-child {
      padding-right: 10px;
    }

    .calendar-title {
      font-weight: normal;
      color: $dark-gray;
    }
  }
  .calendar-item:nth-child(2) {
    margin-top: 0;
  }
}
</style>
