<template lang="pug">
  app-card(title="События")
    pager(
      api="events/search/findByOrderByPublishedOnDesc?projection=eventSpelledMonth&"
      arrayName="events"
      separators
    )
      v-layout(slot-scope="{ item }" wrap).py-3
        v-flex.md3.xs12.pb-1.event-date {{ item.publishedOn }}
        v-flex.md9.xs12 {{ item.text }}
</template>

<script>
import AppCard from './AppCard'
import Pager from './Pager'

export default {
  components: {
    AppCard,
    Pager
  }
}
</script>

<style lang="scss" scoped>
.event-date {
  font-weight: 500;
}
</style>
