<template lang="pug">
  app-card(title="Событие" footerTitle="Все события" footerLink="events")
    .event-text {{ text }}
    .event-date {{ publishedOn }}
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },

  data () {
    return {
      text: null,
      publishedOn: null
    }
  },

  methods: {
    getData () {
      this.$http('events/search/findTop1ByOrderByPublishedOnDesc?projection=eventSpelledMonth').then(r => {
        this.text = r.data.text
        this.publishedOn = r.data.publishedOn
      })
    }
  },

  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.event-date {
  margin-top: 30px;
  font-weight: 500;
  text-align: right;
}
</style>
