<template lang="pug">
  app-card(:title="title" styles="padding: 30px 0 20px" v-if="pages")
    v-container.fluid.grid-list-md
      v-layout.row.wrap
        v-flex(v-for="i in items" :key="i.id").xs12.sm6.xl4.d-flex
          app-video(v-if="type === 'video'" :data="i")

    .pager__controls
      v-pagination(v-model="page" :length="pages" total-visible="7" @input="getData" v-if="pages > 1" color="info")
</template>

<script>
import AppCard from './AppCard'
import AppVideo from './AppVideo'

export default {
  components: {
    AppCard,
    AppVideo
  },
  props: {
    title: String,
    type: String,
    api: String,
    arrayName: String,
    size: {
      default: 6
    }
  },
  data () {
    return {
      items: [],
      page: 1,
      pages: null
    }
  },
  methods: {
    getData () {
      this.api && this.$http(this.api + '&page=' + (this.page - 1) + '&size=' + this.size).then(r => {
        this.items = []
        if (r.data._embedded.videos) {
          r.data._embedded.videos.forEach(i => {
            this.items.push(i)
          })
          this.pages = r.data.page ? r.data.page.totalPages : 1
        } else {
          this.pages = null
        }
        this.$emit('itemsQuantity', this.items.length)
      })
    }
  },
  watch: {
    api (v) {
      this.page = 1
      v && this.getData()
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.pager__controls {
  text-align: center;
  margin-top: 10px;
}
</style>
