<template lang="pug">
  .home
    video-carousel
    event
    grid(title="Новые" type="video" api="videos/search/findTop6ByOrderByPublishedOnDesc?projection=videoProjection")
    grid(title="Популярные" type="video" api="videos/search/findTop6ByOrderByViewsDesc?projection=videoProjection")
    teachers-carousel
</template>

<script>
import Event from './Event'
import Grid from './Grid'
import VideoCarousel from './VideoCarousel'
import TeachersCarousel from './TeachersCarousel'

export default {
  components: {
    Event,
    Grid,
    VideoCarousel,
    TeachersCarousel
  }
}
</script>

<style lang="scss" scoped>
.home {
  > * {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
