<template lang="pug">
  app-card(:title="title" v-show="showCard")
    pager(
      :api="pagerApi"
      arrayName="books"
      separators
      @itemsQuantity="itemsQuantity"
    )
      v-layout(slot-scope="{ item }" wrap).py-3
        v-flex.md4.xs12.pb-1.book-authors {{ item.authors }}
        v-flex.md8.xs12
          a(:href="'/storage/' + item.url" target="_blank").book-link {{ item.title }}
</template>

<script>
import AppCard from './AppCard'
import Pager from './Pager'

export default {
  components: {
    AppCard,
    Pager
  },
  props: ['section', 'api'],
  data () {
    return {
      pagerApi: null,
      title: null,
      showCard: false
    }
  },
  methods: {
    getSection (section) {
      if (section) {
        this.$http('sections/' + section).then(r => {
          this.title = 'Библиотека: ' + r.data.title
          this.pagerApi = 'books/search/findBySectionOrderByPublishedOnDesc?section=' + r.data._links.self.href
        })
      } else {
        this.title = 'Библиотека'
      }
    },
    itemsQuantity (q) {
      this.showCard = q > 0
      this.$emit('itemsQuantity', q)
    }
  },
  watch: {
    api (v) {
      this.pagerApi = v
    }
  },
  mounted () {
    this.getSection(this.section)
  },
  beforeRouteUpdate (to, from, next) {
    this.getSection(to.params.section)
    next()
  }
}
</script>

<style lang="scss" scoped>
.book-authors {
  font-weight: 500;
}
.book-link {
  text-decoration: none;
}
</style>
