<template lang="pug">
  grid(:title="title" type="video" :api="api")
</template>

<script>
import Grid from './Grid'

export default {
  components: {
    Grid
  },
  props: ['section'],
  data () {
    return {
      api: null,
      title: null
    }
  },
  methods: {
    getSection (section) {
      this.$http('sections/' + section).then(r => {
        this.title = 'Медресе: ' + r.data.title
        this.api = 'videos/search/findBySectionOrderByPublishedOnDesc?projection=videoProjection&section=' +
                    r.data._links.self.href
      })
    }
  },
  mounted () {
    this.getSection(this.section)
  },
  beforeRouteUpdate (to, from, next) {
    this.getSection(to.params.section)
    next()
  }
}
</script>
