<template lang="pug">
  .pager
    div(:class="{ 'pager-item-separators': separators }").pager-items
      div(v-for="i in items").pager__item
        slot(:item="i")
    .pager__controls
      v-pagination(v-model="page" :length="pages" total-visible="7" @input="getData" v-if="pages > 1")

</template>

<script>
export default {
  props: {
    api: String,
    arrayName: String,
    size: {
      default: '20'
    },
    separators: Boolean
  },
  data () {
    return {
      items: null,
      page: 1,
      pages: null
    }
  },
  methods: {
    getData () {
      this.api && this.$http(this.api + '&page=' + (this.page - 1) + '&size=' + this.size).then(r => {
        this.items = []
        const data = r.data._embedded[this.arrayName]
        if (data) {
          data.forEach(i => {
            this.items.push(i)
          })
          this.pages = r.data.page.totalPages
        } else {
          this.pages = null
        }
        this.$emit('itemsQuantity', this.items.length)
      })
    }
  },
  mounted () {
    this.getData()
  },
  watch: {
    api (v) {
      this.page = 1
      v && this.getData()
    }
  }
}
</script>

<style lang="scss" scoped>
.pager-items.pager-item-separators .pager__item {
  border-bottom: 1px dotted $opaque-gray;
  &:last-child {
    border-bottom: none;
  }
}
.pager__controls {
  text-align: center;
  margin-top: 20px;
}
</style>

