<template lang="pug">
  app-card(:title="header")
    .post-header
      h1.post-title {{ post.title }}
      .post-stats
        .post-date {{ post.publishedOn }}
        .post-views
          v-icon(size="15px").post-views-icon mdi-eye
          div {{ post.views }}

    .post-text(v-html="post.text")
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },
  props: ['id'],
  data () {
    return {
      post: {}
    }
  },
  methods: {
    getPost (id) {
      this.$http.patch('posts/increase-views/' + id).then(res => {
        this.$http('posts/' + id + '?projection=postProjection').then(r => {
          this.post = r.data
        })
      })
    }
  },
  computed: {
    header () {
      return this.post.section && this.post.section.title
    },
    title () {
      return this.post
    }
  },
  mounted () {
    this.getPost(this.id)
  },
  beforeRouteUpdate (to, from, next) {
    this.getPost(to.params.id)
    next()
  }
}
</script>

<style lang="scss" scoped>
.post-header {
  padding: 20px 20px 0;

  .post-title {
    font-size: 22px;
    padding-bottom: 10px;
  }

  .post-stats {
    display: flex;
    .post-date {
      font-weight: 500;
      padding-right: 20px;
    }
    .post-views {
      display: flex;
    }
    .post-views-icon {
      padding-right: 10px;
    }
  }
}
.post-text {
  padding: 20px;
}
</style>
