<template lang="pug">
  app-card(:title="cardTitle" v-show="showCard")
    pager(
      :api="pagerApi"
      arrayName="posts"
      size="10"
      separators
      @itemsQuantity="itemsQuantity"
    )
      v-layout(slot-scope="{ item }" wrap).py-3
        v-flex.md2.xs4.post-date {{ item.publishedOn }}
        v-flex.md2.xs8.d-flex.justify-start
          v-icon(size="15px").post__view-icon mdi-eye
          div {{ item.views }}
        v-flex.md8.xs12
          router-link(:to="'/post/' + item.id").post-link {{ item.title }}
        v-flex.offset-md4.md8.post-text
          router-link(:to="'/post/' + item.id").post-text-link {{ getShortText(item.text) }}
</template>

<script>
import AppCard from './AppCard'
import Pager from './Pager'

export default {
  components: {
    AppCard,
    Pager
  },
  props: ['section', 'api', 'title'],
  data () {
    return {
      pagerApi: null,
      cardTitle: null,
      showCard: false
    }
  },
  methods: {
    getSection (section) {
      if (section) {
        this.$http('sections/' + section).then(r => {
          this.cardTitle = 'Тексты: ' + r.data.title
          this.pagerApi = 'posts/search/findBySectionOrderByPublishedOnDesc?projection=postProjection&section=' + r.data._links.self.href
        })
      } else {
        this.cardTitle = 'Тексты'
      }
    },
    itemsQuantity (q) {
      this.showCard = q > 0
      this.$emit('itemsQuantity', q)
    },
    getShortText (text) {
      const t = text.replace(/<[^>]*>/g, '')
      return t.length <= 300 ? t : t.substr(0, 300) + '...'
    }
  },
  watch: {
    api (v) {
      this.pagerApi = v
    },
    title (v) {
      this.cardTitle = v
    }
  },
  mounted () {
    this.getSection(this.section)
  },
  beforeRouteUpdate (to, from, next) {
    this.getSection(to.params.section)
    next()
  }
}
</script>

<style lang="scss" scoped>
.post-date {
  font-weight: 500;
}
.post-link {
  text-decoration: none;
  font-weight: 500;
}
.post__view-icon {
  flex: 0 0 auto !important;
  padding-right: 5px;
}
.post-text-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $primary;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
}
</style>
