<template lang="pug">
  app-card.prayer-times
    .prayer-times-hijrahDate
      v-icon(size="15px").mr-2 mdi-weather-night
      div {{ hijrahDate }}

    v-select(:items="cities" v-model="city" auto autocomplete)

    .prayer-times-time
      div Фаджр
      .filler
      div {{ fajr }}
    .prayer-times-time
      div Восход
      .filler
      div {{ sunrise }}
    .prayer-times-time
      div Зухр
      .filler
      div {{ dhuhr }}
    .prayer-times-time
      div Аср
      .filler
      div {{ asr }}
    .prayer-times-time
      div Магриб
      .filler
      div {{ maghrib }}
    .prayer-times-time
      div Иша
      .filler
      div {{ isha }}

    //- .prayer-times-bg-overlay
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },

  data () {
    return {
      cities: [],
      city: null,
      hijrahDate: null,
      fajr: null,
      sunrise: null,
      dhuhr: null,
      asr: null,
      maghrib: null,
      isha: null
    }
  },

  methods: {
    getData () {
      this.$http('prayer-times/cities').then(r => {
        r.data.forEach(c => {
          this.cities.push(c)
        })
      })

      this.city = this.$cookies.get('city')
      if (!this.city) {
        this.city = 'Казань'
        this.$cookies.set('city', this.city, '5y')
      }

      this.getTimes()
    },

    getTimes () {
      this.$http('prayer-times/today/' + this.city).then(r => {
        this.hijrahDate = r.data.hijrahDate
        this.fajr = r.data.prayer.fajr.substr(0, 5)
        this.sunrise = r.data.prayer.sunrise.substr(0, 5)
        this.dhuhr = r.data.prayer.dhuhr.substr(0, 5)
        this.asr = r.data.prayer.asr.substr(0, 5)
        this.maghrib = r.data.prayer.maghrib.substr(0, 5)
        this.isha = r.data.prayer.isha.substr(0, 5)
      })
    }
  },

  watch: {
    city (v) {
      this.$cookies.set('city', this.city, '5y')
      this.getTimes()
    }
  },

  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.prayer-times {
  font-weight: 500;

  // background: url('../assets/prayer-times-bg.jpg') no-repeat;
  background-position: 100%;
  &-bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .3);
  }

  &-hijrahDate {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    // color: #fff;
    .icon {
      color: inherit;
    }
  }

  &-time {
    display: flex;
    position: relative;
    padding-bottom: 10px;
    z-index: 10;
    // color: #fff;

    &:last-child {
      padding-bottom: 0;
    }

    .filler {
      flex-grow: 1;
      border-bottom: 1px dotted;
      position: relative;
      top: -3px;
      margin: 0 5px;
    }
  }
}
</style>
