<template lang="pug">
  app-card(title="Цитаты")
    pager(
      api="quotations/search/findByOrderByPublishedOnDesc?"
      arrayName="quotations"
      separators
    )
      v-layout(slot-scope="{ item }" wrap).py-3
        v-flex.md4.xs12.pb-1.quotation-author {{ item.author }}
        v-flex.md8.xs12 {{ item.text }}
</template>

<script>
import AppCard from './AppCard'
import Pager from './Pager'

export default {
  components: {
    AppCard,
    Pager
  }
}
</script>

<style lang="scss" scoped>
.quotation-author {
  font-weight: 500;
}
</style>
