<template lang="pug">
  div(class="app-quotes" :class="{ 'app-quotes_vertical': $isMobile }")
    div(v-for="q in quotes" :key="q.type").app-quotes__item
      div.app-quotes__item-image
        img(:src="'/static/img/' + q.type.toLowerCase() + '.png'")
      .app-quotes__item-title {{ getQuoteTitle(q.type) }}:&nbsp;
      .app-quotes__item-value {{ q.price }}
</template>

<script>
export default {
  data () {
    return {
      quotes: []
    }
  },
  methods: {
    getData () {
      this.$http('quotes/search/findByOrderByWeight').then(r => {
        r.data._embedded.quotes.forEach(q => {
          this.quotes.push(q)
        })
      })
    },
    getQuoteTitle (type) {
      switch (type) {
        case 'GOLD':
          return 'Золото'
        case 'SILVER':
          return 'Серебро'
        case 'FITR':
          return 'Фитр'
        case 'FIDYA':
          return 'Фидья'
        case 'MAHR':
          return 'Махр'
        case 'NISAB':
          return 'Нисаб'
      }
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.app-quotes {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }

    &-image {
      display: flex;
    }

    &-title {
      margin-left: 10px;
      color: $gray;
      font-weight: 500;
    }

    &-value {
      color: $dark-gray;
    }
  }

  &.app-quotes_vertical {
    display: block;
    .app-quotes__item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &-image {
        width: 35px;
        justify-content: center;
      }
      &-title {
        color: inherit
      }
    }
  }
}
</style>
