<template lang="pug">
  app-card(footerTitle="Все цитаты" footerLink="/quotations").quotation-card
    .quotation-wisdom
    v-icon mdi-format-quote-open
    .quotation-text {{ text }}
    .quotation-author {{ author }}
    v-icon mdi-format-quote-close
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },

  data () {
    return {
      text: null,
      author: null
    }
  },

  methods: {
    getData () {
      this.$http('quotations/search/findTop1ByOrderByPublishedOnDesc').then(r => {
        this.text = r.data.text
        this.author = r.data.author
      })
    }
  },

  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.quotation-card {
  .quotation-text {
    margin-top: 20px;
  }
  .quotation-author {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: right;
  }
  .mdi-format-quote-close, .mdi-format-quote-open {
    font-size: 40px;
    position: absolute;
  }
  .mdi-format-quote-open {
    left: 10px;
    top: 10px;
    color: rgba($color: $primary, $alpha: .2);
  }
  .mdi-format-quote-close {
    right: 10px;
    bottom: 30px;
    color: rgba($color: $info, $alpha: .3);
  }
  .quotation-wisdom {
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 182px;
    height: 103px;
    background: url('../assets/wisdom.png') no-repeat;
  }
}
</style>
