<template lang="pug">
  div
    v-text-field(label="Введите фразу" append-icon="search" @keyup="search" @change="search" v-model="searchString" :dark="dark" hide-details)
</template>

<script>
export default {
  props: ['dark'],
  data () {
    return {
      searchString: null
    }
  },
  methods: {
    search (e) {
      if (e.keyCode === 13 && this.searchString !== null) {
        this.openSearchPage()
      } else if (typeof e === 'string') {
        this.openSearchPage()
      }
    },
    openSearchPage () {
      this.$router.push('/search?phrase=' + this.searchString)
    }
  }
}
</script>
