<template lang="pug">
  .app-search
    app-card(title="Поиск")
      v-flex.d-flex
        v-text-field(label="Введите фразу" prepend-icon="search" @keyup="search" @change="search" v-model="searchString")
        v-btn(flat color="info") Найти
      v-flex Найдено {{ foundQuantity }} материалов.

    grid(title="Видео" type="video" :api="videosApi" @itemsQuantity="itemsQuantity")
    posts(:api="postsApi" @itemsQuantity="itemsQuantity")
    library(:api="booksApi" @itemsQuantity="itemsQuantity")
</template>

<script>
import AppCard from './AppCard'
import Grid from './Grid'
import Posts from './Posts'
import Library from './Library'

export default {
  components: {
    AppCard,
    Grid,
    Posts,
    Library
  },
  data () {
    return {
      searchString: null,
      videosApi: null,
      postsApi: null,
      booksApi: null,
      foundQuantity: 0
    }
  },
  methods: {
    search (e) {
      if (e.keyCode === 13 && this.searchString !== null) {
        this.doSearch()
      } else if (typeof e === 'string') {
        this.doSearch()
      }
    },
    doSearch () {
      this.$router.replace({ path: '/search', query: { phrase: this.searchString } })
      this.foundQuantity = 0
      this.videosApi = `videos/search/findDistinctByTitleContainsOrTagsTitleContainsAllIgnoreCaseOrderByPublishedOnDesc?title=${this.searchString}&tagTitle=${this.searchString}&projection=videoProjection`
      this.postsApi = `posts/search/findDistinctByTitleContainsOrTextContainsOrTagsTitleContainsAllIgnoreCaseOrderByPublishedOnDesc?title=${this.searchString}&text=${this.searchString}&tagTitle=${this.searchString}&projection=postProjection`
      this.booksApi = `books/search/findByTitleContainsIgnoreCaseOrderByPublishedOnDesc?title=${this.searchString}`
    },
    itemsQuantity (q) {
      this.foundQuantity += q
    }
  },
  mounted () {
    this.searchString = this.$route.query.phrase
    this.doSearch()
  }
  // beforeRouteUpdate (to, from, next) {
  //   this.searchString = to.query.phrase
  //   this.doSearch()
  //   next()
  // }
}
</script>

<style lang="scss" scoped>
.app-search > * {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
