<template lang="pug">
  .app-tag
    grid(:title="'Видео / ' + title" type="video" :api="videosApi")
    posts(:title="'Тексты / ' + title" :api="postsApi")
</template>

<script>
import Grid from './Grid'
import Posts from './Posts'

export default {
  components: {
    Grid,
    Posts
  },
  props: ['tag'],
  data () {
    return {
      title: null,
      videosApi: null,
      postsApi: null
    }
  },
  methods: {
    find (tag) {
      this.title = 'Метка: ' + tag
      this.videosApi = `videos/search/findDistinctByTagsTitleContainsAllIgnoreCaseOrderByPublishedOnDesc?tagTitle=${tag}&projection=videoProjection`
      this.postsApi = `posts/search/findDistinctByTagsTitleContainsAllIgnoreCaseOrderByPublishedOnDesc?tagTitle=${tag}&projection=postProjection`
    }
  },
  mounted () {
    this.find(this.tag)
  },
  beforeRouteUpdate (to, from, next) {
    this.find(to.params.tag)
    next()
  }
}
</script>

<style lang="scss" scoped>
.app-tag > * {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
