<template lang="pug">
  vue-word-cloud(
    :words="tags"
    :color="tagColor"
    :spacing=".25"
    :font-size-ratio="3"
    :rotation="rotation"
    font-family="Roboto"
  )
    .app-tag(slot-scope="{ word, text, weight }" :title="weight" @click="tagClicked(word)") {{ text }}
</template>

<script>
import VueWordCloud from 'vuewordcloud'

export default {
  components: {
    [VueWordCloud.name]: VueWordCloud
  },
  props: ['rotation'],
  data () {
    return {
      tags: []
    }
  },
  methods: {
    getTags () {
      this.$http('tags/search/getTagWeights').then(r => {
        r.data._embedded.tags.forEach(i => {
          this.tags.push([i.title, i.weight])
        })
      })
    },
    tagColor ([, weight]) {
      switch (true) {
        case weight > 2:
          return 'rgb(67, 9, 12, .8)'

        case weight > 1:
          return 'rgb(67, 9, 12, .6)'

        default:
          return 'rgb(67, 9, 12, .4)'
      }
    },
    tagClicked ([ word ]) {
      this.$router.push('/tag/' + word)
    }
  },
  mounted () {
    this.getTags()
  }
}
</script>

<style lang="scss" scoped>
.app-tag {
  cursor: pointer;
}
</style>
