<template lang="pug">
  app-card(title="Преподаватель")
    v-container.fluid.grid-list-md
      v-layout(row wrap)
        v-flex.md4
          img(:src="'/storage/' + image")
        v-flex.md8
          .teacher-name {{ name }}
          .teacher-description {{ description }}
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },
  props: ['id'],
  data () {
    return {
      name: null,
      description: null,
      image: null
    }
  },
  methods: {
    getData () {
      this.$http('teachers/' + this.id).then(r => {
        this.name = r.data.name
        this.description = r.data.description
        this.image = r.data.image
      })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.teacher-name {
  font-weight: 500;
  padding-bottom: 10px;
}
</style>
