<template lang="pug">
  app-card(title="Преподаватели" styles="padding: 30px 10px 5px")
    swiper(:options="swiperOptions")
      swiper-slide(v-for="(i, j) in items" :key="j")
        .teacher-frame
          app-card(styles="padding: 0 0 5px" footerIcon="fullscreen" :footerLink="'/teacher/' + i.id").teacher-card
            img(:src="'storage/' + i.image").teacher-image
            .teacher-name {{ i.name }}

      .teacher-button-prev(slot="button-prev")
        v-icon.teacher-button-icon chevron_left
      .teacher-button-next(slot="button-next")
        v-icon.teacher-button-icon chevron_right

</template>

<script>
import 'swiper/dist/css/swiper.css'

import { swiper, swiperSlide } from 'vue-awesome-swiper'
import AppCard from './AppCard'

export default {
  components: {
    AppCard,
    swiper,
    swiperSlide
  },

  data () {
    return {
      items: [],
      swiperOptions: {
        navigation: {
          prevEl: '.teacher-button-prev',
          nextEl: '.teacher-button-next'
        }
      }
    }
  },

  methods: {
    getData () {
      this.$http('teachers/search/findByOrderByWeightDesc?projection=teacherProjection').then(r => {
        r.data._embedded.teachers.forEach(i => {
          this.items.push(i)
        })
      })
    }
  },

  created () {
    this.swiperOptions.slidesPerView = this.$isMobile ? 1 : 4
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.teacher {
  &-frame {
    height: 100%;
    display: flex;
  }
  &-card {
    width: 100%;
    margin: 5px 10px 15px;
  }
  &-image {
    width: 100%;
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
  }
  &-name {
    padding: 0 15px 0 5px;
  }
  &-button {
    &-prev, &-next {
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -22px;
      z-index: 1;
      color: #fff;
      &.swiper-button-disabled {
        color: rgba($color: #fff, $alpha: .2);
        .teacher-button-icon:hover {
          color: $light-primary;
        }
      }
      .teacher-button-icon {
        color: inherit;
        font-size: 30px;
        padding: 5px;
        background: rgba($color: #000, $alpha: .5);
        &:hover {
          color: $light-info;
          background: rgba($color: #fff, $alpha: .05);
        }
      }
    }
    &-next {
      left: auto;
      right: 10px;
    }
  }
}
.swiper-slide {
  height: unset;
}
</style>
