<template lang="pug">
  app-card(styles="padding: 0 0 20px;")
    v-carousel(delimiter-icon="stop" v-model="carousel").video-carousel
      v-carousel-item(v-for="(item, i) in items" :key="i" :src="'storage/' + item.image")
        .video-carousel-link(@click="fullScreen(item)") {{ item.title }}
</template>

<script>
import AppCard from './AppCard'

export default {
  components: {
    AppCard
  },

  data () {
    return {
      items: [],
      carousel: 0
    }
  },

  methods: {
    getData () {
      this.$http('videos/search/findTop6ByShowInSliderTrueOrderByPublishedOnDesc?projection=VideoProjection').then(r => {
        const arr = []
        r.data._embedded.videos.forEach(i => {
          arr.push(i)
        })
        this.carousel = null
        this.items = arr
        this.$nextTick(() => (this.carousel = 0))
      })
    },

    fullScreen (item) {
      this.$http.patch('videos/increase-views', { uri: item._links.self.href }).then(r => {
      })
      window.open('https://youtube.com/watch?v=' + item.videoId)
    }
  },

  mounted () {
    this.getData()
  }
}
</script>

<style lang="scss" scoped>
.app-card {
  .carousel {
    border-radius: 0 !important;
    // position: relative;
    // top: -1px;
    // left: -1px;
    // width: calc(100% + 2px);
  }
}
.video-carousel-link {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 100%;
  color: rgba($color: #fff, $alpha: .8);
  text-decoration: none;
  text-align: right;
  padding: 3px 10px 0;
  cursor: pointer;
  background: rgba($color: #000000, $alpha: .5);
  &:hover {
    color: #fff;
  }
}
</style>
