<template lang="pug">
  v-app
    v-toolbar(app scroll-off-screen color="primary" dark v-if="$isMobile")
      v-toolbar-side-icon(@click.stop="showMenuDrawer = !showMenuDrawer")
      v-toolbar-title
        router-link(to="/" class="white--text").app-toolbar-title Muslim media
      v-spacer
      v-btn(icon @click.stop="showWidgetDrawer = !showWidgetDrawer")
        v-icon more_vert

    v-navigation-drawer(app v-model="showMenuDrawer" v-if="$isMobile")
      app-menu.drawer-component
      v-divider
      .app-drawer-tags.drawer-component
        tags(:rotation="showMenuDrawer ? tagRotation : 0")
      v-divider
      .app-socials
        app-socials.drawer-component
    
    v-navigation-drawer(app v-model="showWidgetDrawer" right v-if="$isMobile")
      search-field.drawer-component.search-field
      prayer-times.drawer-component
      quotation.drawer-component
      calendar.drawer-component
      app-card(title="Цены").drawer-component
        quotes

    v-content
      app-header

      v-container.fluid.grid-list-sm
        v-layout
          v-flex(v-if="!$isMobile").md3
            aside.side-bar.align-end
              app-card.side-component
                app-menu
              app-card(id="tagsCloud" title="Метки" height="300" styles="padding: 0 10px;" v-scroll="scroll").side-component
                tags(:rotation="rotation")

          v-flex.xs12.md6
            main.app-content
              .app-bg
              router-view

          v-flex(v-if="!$isMobile").md3
            aside.side-bar
              prayer-times.side-component
              quotation.side-component
              calendar.side-component

    app-footer
</template>

<script>
import AppHeader from './components/AppHeader'
import AppFooter from './components/AppFooter'
import AppCard from './components/AppCard'
import AppMenu from './components/AppMenu'
import PrayerTimes from './components/PrayerTimes'
import Quotation from './components/Quotation'
import Calendar from './components/Calendar'
import Tags from './components/Tags'
import AppSocials from './components/AppSocials'
import Quotes from './components/Quotes'
import SearchField from './components/SearchField'

const height = window.innerHeight || document.documentElement.clientHeight
let tagsCloud

export default {
  components: {
    AppHeader,
    AppFooter,
    AppCard,
    AppMenu,
    PrayerTimes,
    Quotation,
    Calendar,
    Tags,
    AppSocials,
    Quotes,
    SearchField
  },
  data () {
    return {
      showMenuDrawer: false,
      showWidgetDrawer: false,
      rotation: 0
    }
  },
  methods: {
    scroll () {
      const y = tagsCloud.getBoundingClientRect().bottom
      this.rotation = y <= height ? this.tagRotation : 0
    },
    tagRotation ([ word ]) {
      return word.length % 2 * 0.75
    },
    toggleMenu () {
      this.showMenuDrawer = !this.showMenuDrawer
      this.rotation = this.tagRotation
    }
  },
  mounted () {
    tagsCloud = document.getElementById('tagsCloud')
  }
}
</script>

<style lang="scss" scoped>
.side-bar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  > * {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.side-component {
  width: 250px;
}
.app-content {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
.app-bg {
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  width: 60%;
  background: url('./assets/main-bg.jpg');
  filter: opacity(.1);
}
.drawer-component {
  margin: 10px;
  &.search-field {
    margin-top: 0;
  }
}
.app-drawer-tags {
  height: 200px;
}
.app-socials {
  display: flex;
  justify-content: center;
}
.app-toolbar-title {
  text-decoration: none;
}
</style>
